.vscode/
.idea/
__pycache__/
*.egg-info
build
dist
wandb

cp_log/

# files from script downloads
data
openfold/resources/
tests/test_data/
cutlass/

*.pdb
*.xml
*.m
*.pdf
*.npz
*.pkl
*.out
*.err
*.hhr
*.sto
*.fasta
/data
/output
1a1c
1a1m
.DS_Store